
p {
  font-size: 13px;
  font-family: "Arial", sans-serif;
  color: #007bff;
  margin-bottom: 14px;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px;
}

.day-item {
  margin-left: 10px;
  box-sizing: border-box;
  padding: 3px;
  text-align: center;
  height: 29px;
  border-radius: 13px;
  border-color: #80bdff;
  font-weight: 500;
  font-size: 12px;
  color: #80bdff;
  background-color: white;
  border-width: 2px;
  width: 90px;
}

.day-item.clicked {
  background-color: #007bff;
  color: white;
}
