<div class="container">
  <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
    <div class="mb-3">
      <label for="username" class="form-label">Email</label><br>
      <input type="text" id="username" formControlName="username" placeholder="Entrez votre email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label><br>
      <input type="password" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
    </div>
    <p *ngIf="errorMessage" style="color: red">
      {{ errorMessage }}
    </p><button type="submit" class="btn btn-primary">Se connecter</button>
  </form>
  <hr style="border-color: gray; margin-top: 10px; margin-bottom: 10px;">
  <button class="btn btn-success">S'inscrire</button>
</div>
