ngb-rating {
  color: #f39c12;
  font-size :20px;

}

.card-text {
  margin-bottom: 1px; /* Adjust the margin-bottom as needed */
}
.btn-card {
  width: 100%;
}

.text-secondary {
  color: grey; /* Use grey color for the specialty */
}
.card-title,
.text-secondary {
  flex: 1; /* Equal width for name and specialty */
}

.rectangle {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 28%; /* Cover the top half of the image */
  background-color: #F0ECF8; /* Change the color and opacity of the rectangle */
  z-index: 1; /* Ensure the rectangle is behind the image */
}
.card {
  border-radius: 13px; /* Rounded corners for top-left and top-right */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow effect */
  border: none; /* No border */
}

.input-group input[type="text"] {
  border-radius: 20px !important;
  background-color: #fff;

}

/* Center the search icon vertically */
.input-group-btn {
  display: flex;
  align-items: center;
}

/* Style the Font Awesome search icon */
.fa-search {
  margin-right: 3px;
}

/* Adjust margin and padding for better alignment */
.input-group-sm {
  margin-left: 60px;
  margin-right: 60px;
}

/* Adjust card styles for better spacing */
.card {
  margin-top: 4px;
  position: relative;
  z-index: -1;
}

/* Style the "Prendre rendez-vous" button */
.btn-card {
  border-radius: 20px;
  padding: 5px 20px;
}


.input-group {
  width: 100%;
  max-width: 800px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}


.input-group button i {
  color: #888;
}
.ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px;
}

  .ngx-pagination li {
    width: 28px;
    height: 28px;
    border-radius: 50% !important;
    display: flex !important;
    background: #f8f8f8;
    align-items: center;
    justify-content: center;
    position: relative;

    /* Hide pagination for small screens */

    &.small-screen {
      display: none !important;
    }

    /* Style the previous and next buttons */

    &.pagination-previous,
    &.pagination-next {
      a, span {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        color: #f8f8f8;
      }

    }
  }
.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-previous.disabled:before,
.ngx-pagination .pagination-next::before {
  margin-right: 0px !important;
  font-size: 26px;
  margin-top: -10px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #219ebc;
  left: 0;
  pointer-events: none;
}
.ngx-pagination .pagination-next::before {
  content: '\bb';
}
  .ngx-pagination .pagination-next::after {
  display: none !important;
}
  .ngx-pagination .pagination-previous.disabled:before,
  .ngx-pagination .pagination-next.disabled:before{
    opacity: 0.4;
  }
.ngx-pagination .pagination-previous.disabled:hover{
background: #f8f8f8 !important;
}
.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: initial !important;
}
.cdk-overlay-pane {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
border-radius: 13px;
   font-size: 14px;
  background-color: white;
}

.input-group input:focus {
  border-color: #219ebc; /* Change the border color to a lighter color */
  box-shadow: none; /* Remove any box shadow */

}
.input-group input {
  outline: none;
  background: none;
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

dl, ol, ul {
  margin-top: -20px;
}
.alert {
  height: 30px;
  margin-right: 55px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.btn-close{
  margin-left: 640px;
  font-size: 12px;

}
.filterButton{
  margin-left: 510px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #fcbf49;
  color: white;
  border: none;
  width: 120px;
  height: 30px;
}

