.notification {
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 15px; /* Espacement entre les notifications */
    background-color: #0B8FAC; /* Couleur de fond */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre */
    transition: transform 0.2s ease;
   /* Transition pour l'effet de survol */
  }

  .notification:hover {
    transform: translateY(-5px); /* Léger effet de translation au survol */
  }

  .notification a {
    padding: 15px;
    color: #333; /* Couleur du texte */
    text-decoration: none;

  }

  .notification .list-group-item {
    border: none; /* Supprime la bordure par défaut */
    height: 60px;
  }

  .card-header {
    border-radius: 8px 8px 0 0; /* Coins arrondis seulement en haut */
    background-color: #0B8FAC;
  }



  .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e67e30; /* Choisissez la couleur de fond souhaitée */
    color: #fff; /* Choisissez la couleur du texte */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  .card{
    justify: center ;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
